$color-background: #191919;
$color-main: #008a33;
$color-second: #e7f336;

$font-quicksand: 'Quicksand', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-courier: 'Courier Prime', monospace;

$opacity: 0.6;
$transition: all .2s;